@import '../../../config-scss/rem-calc.scss';
@import '../../../config-scss/viewport-calc.scss';
@import '../../../config-scss/color-type.scss';

:host {
    main {
        .container {
            margin-top: viewport-calc(25);
            display: flex;
            justify-content: center;
            align-items: center;
        
            position: relative;
        
            .box {
                position: relative;
        
                .retornar {
                    position: absolute;
                    top: viewport-calc(25);
                    left: viewport-calc(20);
                    z-index: 99;
                    cursor: pointer;
        
                    .button {   
                        border-radius: viewport-calc(2);
                        width: viewport-calc(20);
                        height: viewport-calc(7.5);
                        // background: rgba(100, 100, 100, 0.4);
                        transform: rotate(-45deg);
                        position: relative;
                    }
            
                    .button:before {
                        content: "";
                        width: viewport-calc(20);
                        height: viewport-calc(7.5);
                        border-radius: viewport-calc(2);
                        
                        // background-color: rgba(100, 100, 100, 0.4);
                        
                        position: absolute;
                        transform: rotate(90deg);
                        top: viewport-calc(6);
                        right: viewport-calc(7);
                    }
                }
        
                .poke-details {
                    width: viewport-calc(1100);
                    height: viewport-calc(550);
                    padding: viewport-calc(20);
                    border-radius: 20px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    position: relative;
                    .poke-ident-container {
                        display: flex;
                        flex-direction: column;
                        .id-pokemon {
                            font-size: viewport-calc(18);
                            font-weight: 600;
                            color: #222;
                        }
                        .name-pokemon {
                            font-size: viewport-calc(60);
                            font-weight: 600;
                            color: #222;
                        }
                        .name-pokemon-jap {
                            position: absolute;
                            top: viewport-calc(80);
                            font-size: viewport-calc(100);
                            font-weight: 900;
                            color: rgba(50, 50, 50, 0.5);
                        }    
                        .dados-fisicos {
                            font-size: viewport-calc(24);
                            height: viewport-calc(100);
                            display: flex-end;
                            flex-direction: column;
                            margin-left: viewport-calc(150);
                            font-weight: 600;
                            p {
                                padding: viewport-calc(2.5);
                            }
                        }
                    }
        
                    .poke-img-container {
                        z-index: 1;
                        display: flex;
                        align-items: center;
                        img {
                            width: viewport-calc(400);
                        }
                    }
                    .poke-about-container {
                        display: flex;
                        flex-direction: column;
                        .poke-type {              
                            margin-bottom: viewport-calc(20);
                            ul {
                                display: flex;
                                flex-direction: column;
                                li {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    width: viewport-calc(75);
                                    margin: viewport-calc(2.5) 0;
                                    padding: viewport-calc(5);
                                    font-weight: 600;
                                    border-radius: viewport-calc(50);
                                    font-size: viewport-calc(16);
                                }
                            }
                        }
                    
                        .poke-stats {
                            h2 {
                                font-size: viewport-calc(24);
                                font-weight: 600;
                                color: #222;
                            }
                            ol {
                                li {
                                    display: flex;
                                    justify-content: space-between;
                                    margin: viewport-calc(10) 0;
                                    padding: viewport-calc(5);
                                    border-radius: viewport-calc(5);
                                    font-size: viewport-calc(16);
                                    font-weight: 600;
                                    color: white;
        
                                    h3 {
                                        margin-right: viewport-calc(20);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        
        .poke-number-list {
            display: flex;  
            justify-content: center;
            
            margin-top: viewport-calc(10);
            ol {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: viewport-calc(20);
                padding: viewport-calc(10) viewport-calc(20);
                border-radius: viewport-calc(20);
                font-weight: 600;
                color: white;
                li {
                    cursor: pointer;
                }
            }
        }
        
        .error-mensage {
            display: flex;
            align-items: center;
        
            color: #22222290;
            .mensage {
                h1 {
                    font-size: viewport-calc(100);
                    font-weight: 600;
                    line-height: viewport-calc(80);
                }
                h1:first-child {
                    margin-left: viewport-calc(30);
                }
                h2 {
                    font-size: viewport-calc(50);
                    line-height: viewport-calc(35);
                }
                h2:last-child {
                    margin-left: viewport-calc(75);
                }
            }
        }
    }
}