<a href="#" class="pokemon">
    <section class="pokemon-about">
        <h2>Bulbasaur</h2>
    <ul>
        <li>Grass</li>
        <li>Poison</li>
    </ul>
    </section>

    <section class="pokemon-img">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png" alt="Bulbasaur">
    </section>
</a>

<a href="#" class="pokemon">
    <section class="pokemon-about">
        <h2>Bulbasaur</h2>
    <ul>
        <li>Grass</li>
        <li>Poison</li>
    </ul>
    </section>

    <section class="pokemon-img">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png" alt="Bulbasaur">
    </section>
</a>