.grass{
    background-color: #77c5a1;
}
.fire {
    background-color: #da916c;
}
.electric {
    background-color: #d1c76a;
}
.water {
    background-color: #5fa7bb;
}
.ground {
    background-color: #bba66b;
}
.rock {
    background-color: #c4c47f;
}
.fairy {
    background-color: #d49eb4;
}
.poison {
    background-color: #9e77a8;
}
.bug {
    background-color: #a7b37b;
}
.dragon {
    background-color: #817cb8;
}
.psychic {
    background-color: #ad71a0;
}
.ghost {
    background-color: #b858a4;
}
.flying {
    background-color: #7ab1bb;
}
.fighting{
    background-color: #b48b7c;
}
.normal{
    background-color: #b89a9a;
}
.ice {
    background-color: #6bc5c5;
}
.dark {
    background-color: #7a7b96;
}

.grass:before {
    background-color: #77c5a1;
}
.fire:before {
    background-color: #da916c;
}
.electric:before {
    background-color: #d1c76a;
}
.water:before {
    background-color: #5fa7bb;
}
.ground:before {
    background-color: #bba66b;
}
.rock:before {
    background-color: #c4c47f;
}
.fairy:before {
    background-color: #d49eb4;
}
.poison:before {
    background-color: #9e77a8;
}
.bug:before {
    background-color: #a7b37b;
}
.dragon:before {
    background-color: #817cb8;
}
.psychic:before {
    background-color: #ad71a0;
}
.ghost:before {
    background-color: #b858a4;
}
.flying:before {
    background-color: #7ab1bb;
}
.fighting:before {
    background-color: #b48b7c;
}
.normal:before {
    background-color: #b89a9a;
}
.ice:before {
    background-color: #6bc5c5;
}
.dark:before {
    background-color: #7a7b96;
}