@import '../../../config-scss/rem-calc.scss';
@import '../../../config-scss/variables.scss';

:host {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;

        .box {
            display: flex;
            flex-direction: column;
            width: 65%;
            p {
                margin: rem-calc(20) 0 rem-calc(10) 0;
                font-size: rem-calc(28);
                font-weight: 800;
            }
        
            form {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                border-radius: rem-calc(10);
                padding: rem-calc(10) rem-calc(20);
                background: var(--transparent-soft-gray);
        
                input {
                    width: 95%;
                    background: none;
                    border: none;
                    font-size: rem-calc(18);
                    font-weight: 600;
                    color: #333;
        
                    &::placeholder {
                        font-weight: 400;
                        color: #aaa;
                    }
                }
            }
        }
    }
}