<header>
    <div class="container">
        <section class="box-log">
            <img src="assets/pokedex_logo.png" alt="Logo Pokedex" [routerLink]="['/home']">
        </section>
        <section class="box-menu">
            <div class="menu-item" [routerLink]="['/home']" routerLinkActive="active">Home</div>
            <div class="menu-item" [routerLink]="['/pokemon']" routerLinkActive="active">Pokemons</div>
            <div class="menu-item" [routerLink]="['/likeds']" routerLinkActive="active">Favoritos</div>
        </section>
    </div>
</header>