
<main>
    <div class="banner">
        <section class="text-banner">
            <p class="background-pokedex-name">Pokedex</p>
            <div class="circle left-bottom"></div>
            <div class="circle center"></div>

            <div class="descoration-left">
                <div class="line-banner"></div>
            </div>

            <div class="text-banner-container">
                <div class="text-banner-box">
                    <p>hello welcome to your</p>
                    <h1>Pokedex</h1>
                    <h2>Let's catch pokemons!</h2>
                    <a href="#" [routerLink]="['/pokemon']">Go to Pokemons</a>
                </div>
            </div>
        </section>
        <section class="img-banner">
            <img src="../../../assets/pikachu.png" alt="">
        </section>
    </div>
</main>
